.main-page{
  background-image: linear-gradient(to right, #645097, #d7555d);
  min-height: 450px;
  padding: 0 7.5vw 4rem;
}
.main-page h1{
  display: inline-block;
}
.main-page-header{
  padding: 5vh 0vh 3vh;
  z-index: 999;
  // width: 85vw;
  margin: 0 auto 5vh;
  display: flex;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  align-items: center;
}

.main-page-header{
  color: white;
  font-size: 2rem;
}
.searchbar-main-page{
  border-radius: 0.5em;
  padding: 0.5em;
  border: none;
}
  .all-characters{
    // margin: auto;
    // font-size: 16px;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // width: ($card-width * 12 + 11 *$gap);
    row-gap: 1.875rem;
    width: 100%;
}

.card{
  width: $card-width + 20px;
  padding: 20px 10px 10px;
  border: none;
  flex-direction: column;
  text-align: center;
  // aspect-ratio: 5/6;
  transition: transform .2s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
  [alt]{
    width: $card-image-width;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    aspect-ratio: 1/1;
    font-size: 12px;
    background: darken(white, 10%);
    white-space: pre;
    margin: 0 auto;
  }
  &-name{
    font-size: 1.25rem;
    margin-top: 1em
  }
  &-img-view-all{
    width: $card-image-width;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 1em;
    align-self: flex-start;
  }
  &-short-description{
    margin-top: 1em;
    padding-bottom: 1em;
  }
  &-description-main-page{
    display:none
  }
  &-btn{
    margin-top: auto;
    &:hover {
      background-color: rgb(18, 14, 243);
    }

    &:active {
      background-color: rgb(18, 14, 243);
      box-shadow: 0 5px, grey;
      transform: translateY(4px);
    }

  }
}

.add-new-main-page{
  text-align: center;
  padding: 1em;
  margin: 6vh auto 4vh;
}
.add-new-page-element{
  padding: 1em 3em;
  background-color: #4b7cfc;
  color: white;
  border-radius: 0.5em;
  a:visited{
    color: white;
  }
}
