.mainAdd {
    padding: 100px 0;
}

body {
  background-image: linear-gradient(to right, #645097, #d7555d);
  font-family: "Orbitron";

  .title {
    text-align: left;
    font-size: 50px;
    color: white;
    border-bottom: 5px solid white;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap;
    width: 1000px;
    height: 1400px;
    background-image: linear-gradient(
      to right,
      rgb(180, 176, 176),
      rgb(83, 74, 74)
    );
    border-radius: 8px;
    box-shadow: 10px 5px 5px black;

    .image {
      text-align: center;
      vertical-align: center;
      margin-top: 450px;

        .center {
          height:100%;
          display:flex;
          align-items:center;
          justify-content:center;
        
        }
        .form-input {
          width:350px;
          padding:50px;
          background-image:linear-gradient(to right, #645097, #d7555d);
          box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
        }

        .form-input img {
          display: flex;
          justify-content: center;
          width: 200px;
          height: 200px;
          background-image: cover;
          display:none;
          margin-bottom: 5px;
          margin-left: 30px;

        }

        .form-input input {
          display:none;
        }
        
        .form-input label {
          display:block;
          width:70%;
          height:45px;
          margin-left: 15%;
          margin-top: 130px;
          line-height:50px;
          text-align:center;
          background:#844bee;
          color:#fff;
          font-size:17px;
          font-family:"Orbitron";
          text-transform:Uppercase;
          font-weight:600;
          border-radius:5px;
          cursor:pointer;

          &:hover {
            background-color: black;
          }
    
          &:active {
            background-color: black;
            box-shadow: 0 5px, grey;
            transform: translateY(4px);
        }
        
      }
    }
  }

  .name {
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;

    .nameCharachter {
      height: 50px;
      width: 800px;
      padding: 1rem;
      border-radius: 5px;
      font-size: 17px;
      color: grey;
    }
  }

  .description {
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;

    .shortdescription {
      height: 50px;
      width: 800px;
      padding: 1rem;
      border-radius: 5px;
      font-size: 17px;
      color: grey;
    }
  }

  .texte {
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 300px;


    .longDescription {
      height: 300px;
      width: 800px;
      padding: 1rem;
      border-radius: 5px;
      font-size: 17px;
      color: grey;
      padding: 10px 0 250px 15px;
      
   
    }
}

  .changes {
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 800px;

    .buttonChanges {
      margin: 0 1em;
      border: 0;
      line-height: 2.5;
      padding: 17px 40px;
      font-size: 15px;
      text-transform: capitalize;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      background-color: #645097;
      font-weight: 600;

      &:hover {
        background-color: black;
      }

      &:active {
        background-color: black;
        box-shadow: grey;
        transform: translateY(4px);
      }
    }
    .buttonDelete {
      margin: 0 1em;
      border: 0;
      line-height: 2.5;
      padding: 17px 40px;
      font-size: 15px;
      text-transform: capitalize;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      background-color: #d7555d;
      font-weight: 600;

      &:hover {
        background-color: black;
      }

      &:active {
        background-color: black;
        box-shadow: 0 5px, grey;
        transform: translateY(4px);
      }
    }
  }

}